body {
    min-height: 100vh;
    margin: 0px;
}

hr {
    border: solid lightgray 0.5px;
    margin: 0px 3px;
}

header {
    font-size: 25px;
    padding-left: 10px;
}

body > .container {
    display: flex;
    gap: 10px;
    height: 100%;
    padding: 5px;
}

#channels {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: solid lightgray thin;
    padding: 5px;
}

button.channel {
    border: none;
    background-color: transparent;
    text-align: left;
    padding: 5px;
    cursor: pointer;
}

button.channel:hover {
    background-color: #eeeeee;
    color: #000000;
}

button.active {
    background-color: #000000;
    color: #ffffff;
}

#messages {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 5px;
}

#messages > .message {
    display: flex;
    flex-direction: column;
}

#messages span.ts {
    font-size: 12px;
}

#messages span.username {
    font-size: 12px;
    margin-left: 10px;
}
